
.wrapper {
  .video-bg {
    position: fixed;
    right: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1000;

    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .apper {
    background-color: rgba(16, 18, 27, 0.4%);
    max-width: 1250px;
    max-height: 860px;
    height: 90vh;
    overflow-y: auto;
    width: 100%;
    border-radius: 14px;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    font-size: 15px;
    font-weight: 500;
    position: absolute;
    top: 50%;
    right: 50%;
    z-index: 1;
    transform: translate(50%, -50%);
    padding: 20px;

    &__item {
      background-color: rgba(16, 18, 27, 0.4%);
      padding: 16px;
      border-radius: 20px;
      color: white !important;
    }

    table tr {
      &:hover {
        th, td {
          color: white;
        }
      }
    }

    th, td {
      color: white;
    }
  }
}

.action__modals {
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(16, 18, 27, 0.4%);
  margin: auto;

  &.m__modal {
    z-index: 100;
    background-color: rgba(16, 18, 27, 0.6%);
  }

  &-card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 80%;
    height: calc(100vh - 50px);
    border-radius: 10px;
    padding: 20px;
  }
  .card__wrapper {
    position: relative;

    &_close {
      position: absolute;
      top: -28px;
      right: -28px;
      width: 40px;
      height: 40px;
      border: 3px solid white;
      border-radius: 50%;
      background-color: black;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      font-size: 1.2rem;
      z-index: 11;

      &.m__close {
        z-index: 1000;
      }
    }
  }

}
.text-lg {
  font-size: 1.225rem;
}
.custom-control-input {
  margin-right: 5px;
}